Repository csniper-patrick/slurm-lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rocky-image-build, debian-image-build

.gitlab-ci.yml:

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - test
  - build

ipynb-output-clear-test:
  image: quay.io/jupyter/minimal-notebook
  stage: test
  script:
    - git config --global --add safe.directory '*'
    - pipeline/ipynb-output-clear-test.sh
  only:
    - merge_requests

rocky-image-build:
  image: quay.io/podman/stable
  stage: build
  script:
    - podman login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - podman build --pull -f build-el8/Containerfile -t "$CI_REGISTRY_IMAGE/slurm-lab:el8" -t "$CI_REGISTRY_IMAGE/slurm-lab:latest" .
    - podman push "$CI_REGISTRY_IMAGE/slurm-lab:el8"
    - podman push "$CI_REGISTRY_IMAGE/slurm-lab:latest"
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
          - build-el8/**/*
          - common/**/*
          - json-web-key-generator
          - slurm
          - tutorials/**/*
          - .gitlab-ci.yml
      when: always

debian-image-build:
  image: quay.io/podman/stable
  stage: build
  script:
    - podman login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - podman build --pull -f build-deb12/Containerfile -t "$CI_REGISTRY_IMAGE/slurm-lab:deb12" .
    - podman push "$CI_REGISTRY_IMAGE/slurm-lab:deb12"
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
          - build-deb12/**/*
          - common/**/*
          - json-web-key-generator
          - slurm
          - tutorials/**/*
          - .gitlab-ci.yml
      when: always

Federation and multi cluster
  .env-lyoko
  README.md
  common/slurm-init.sh
  common/slurm.conf.j2
  common/slurmctld-extra.conf
  compose.dev.yml
  tutorials/Admin Guide.ipynb
  tutorials/Getting Started.ipynb
  tutorials/Multi-Cluster & Federation.ipynb
  tutorials/multi-cluster-and-federation.drawio
  tutorials/multi-cluster-and-federation.png
Due: rocky-image-build, debian-image-build

Make document available locally at localhost/doc
  README.md
  build-deb12/Containerfile
  build-el8/Containerfile
  common/proxy.conf
Due: rocky-image-build, debian-image-build

update 23.11.3
  README.md
  common/config-task.sh
  common/proxy.conf
  common/slurmrestd-extra.conf
  compose.dev.yml
  tutorials/Getting Started.ipynb
  tutorials/HPL.dat
  tutorials/MPI Guide.ipynb
  tutorials/REST API Guide.ipynb
  tutorials/endless-checksum-mpi.sh
Due: rocky-image-build, debian-image-build

upgrade to 23.11.5
  build-el8/Containerfile
Due: rocky-image-build

Finish basic usages in slurm rest api guide
  common/config-task.sh
  pipeline/ipynb-output-clear-test.sh
  tutorials/Admin Guide.ipynb
  tutorials/Getting Started.ipynb
  tutorials/MPI Guide.ipynb
  tutorials/Multi-Cluster & Federation.ipynb
  tutorials/REST API Guide.ipynb
Due: rocky-image-build, debian-image-build

accounting api endpoint example
  README.md
  tutorials/REST API Guide.ipynb
Due: rocky-image-build, debian-image-build

update admin level content
  README.md
  tutorials/Admin Guide.ipynb
Due: rocky-image-build, debian-image-build

Auth slurm
  .env
  README.md
  build-deb12/Containerfile
  build-deb12/install-packages.sh
  build-el8/Containerfile
  build-el8/install-packages.sh
  common/config-task.sh
  common/jupyter-hub.service
  common/sackd-extra.conf
  common/slurm-init.service
  common/slurm-init.sh
  common/slurm.conf.j2
  common/slurmdbd.conf.j2
Due: rocky-image-build, debian-image-build

el9 support
  .gitlab-ci.yml
  build-el8/install-packages.sh
  build-el9/Containerfile
  build-el9/build-slurm-rpm.sh
  build-el9/install-packages.sh
  build-local.sh
  common/config-task.sh
  tutorials/MPI Guide.ipynb
Due: rocky-image-build, debian-image-build

openmpi submodule
  .gitlab-ci.yml
  .gitmodules
  build-deb12/Containerfile
  build-deb12/install-packages.sh
  build-el8/Containerfile
  build-el8/install-packages.sh
  build-el9/Containerfile
  build-el9/install-packages.sh
  common/openmpi-build.sh
  tutorials/MPI Guide.ipynb
Due: rocky-image-build, debian-image-build

Ditch openmpi
  .gitmodules
  build-deb12/Containerfile
  build-deb12/install-packages.sh
  build-el8/Containerfile
  build-el8/install-packages.sh
  build-el9/Containerfile
  build-el9/install-packages.sh
  common/modules/mpi/mpich
  common/modules/mpi/openmpi
  common/mpich-build.sh
  common/munge-extra.conf
  common/openmpi-build.sh
  compose.dev.yml
  tutorials/MPI Guide.ipynb
Due: rocky-image-build, debian-image-build

make el8 default for now
  .gitlab-ci.yml
  compose.dev.yml
Due: rocky-image-build, debian-image-build

Basic scrontab guide, and upgrade to slurm 23.11.7
  README.md
  build-local.sh
  common/slurm.conf.j2
  tutorials/scrontab Guide.ipynb
  tutorials/scrontab-example.sh
Due: rocky-image-build, debian-image-build

fixing document on el9
  README.md
  build-deb12/Containerfile
  build-deb12/build-slurm-deb.sh
  build-el8/Containerfile
  build-el8/build-slurm-rpm.sh
  build-el9/Containerfile
  build-el9/build-slurm-rpm.sh
  build-local.sh
  common/config-task.sh
  compose.dev.yml
Due: rocky-image-build, debian-image-build

- better tagging - generate jobs - publish to dockerhub
  .gitlab-ci.yml
  gitlab-ci.d/build.yml
  gitlab-ci.d/container-build.yml.j2
  gitlab-ci.d/container-tag.yml.j2
  gitlab-ci.d/init.yml
  gitlab-ci.d/ipynb-output-clear-test.sh
  gitlab-ci.d/test.yml
Due: rocky-image-build, debian-image-build

restrict tagging job
  .gitlab-ci.yml
  gitlab-ci.d/container-tag.yml.j2
Due: rocky-image-build, debian-image-build

fixing condition
  .gitlab-ci.yml
  gitlab-ci.d/container-tag.yml.j2
Due: rocky-image-build, debian-image-build

Auth slurm test Fixing auth/slurm srun issue by adding the missing line to slurm.conf
  .gitlab-ci.yml
  README.md
  common/slurm.conf.j2
  compose.yml
Due: rocky-image-build, debian-image-build

fix compose file name in readme
  README.md
Due: none

update readme
  README.md
Due: none

update mpich to v4.2.1
  build-el8/install-packages.sh
Due: rocky-image-build

upgrade to slurm 23.11.8
  build-deb12/Containerfile
  build-el8/Containerfile
  build-el9/Containerfile
Due: rocky-image-build, debian-image-build

define pre_get_sources_script hook in build pipeline
  gitlab-ci.d/container-build.yml.j2
Due: none

build arm64 image
  gitlab-ci.d/container-build.yml.j2
Due: none

allow arm image build to fail
  gitlab-ci.d/container-build.yml.j2
  gitlab-ci.d/container-tag.yml.j2
Due: none

multi arch image build
  README.md
  gitlab-ci.d/container-build.yml.j2
  gitlab-ci.d/container-tag.yml.j2
Due: none

ensure autoconf automake libtool installed
  build-el8/install-packages.sh
  build-el9/install-packages.sh
Due: rocky-image-build

Slurm 24.05 upgrade
  tutorials/REST API Guide.ipynb
Due: rocky-image-build, debian-image-build

add xauth package and modify init seq
  README.md
  build-deb12/Containerfile
  build-deb12/install-packages.sh
  build-el8/Containerfile
  build-el8/install-packages.sh
  build-el9/Containerfile
  build-el9/install-packages.sh
  common/entrypoint.sh
  common/jupyter-hub.service
  common/jupyterhub_config.py
  common/nginx-extra.conf
  common/sackd-extra.conf
  common/service-restart.conf
  common/slurm-init.service
  common/slurm-init.sh
  common/slurm.conf.j2
  common/slurmctld-extra.conf
  common/slurmd-extra.conf
  common/slurmdbd-extra.conf
  common/slurmrestd-extra.conf
  compose.dev.yml
  compose.yml
  tutorials/REST API Guide.ipynb
Due: rocky-image-build, debian-image-build

pam_slurm_adopt.so, nss_slurm, auth/slurm
  README.md
  build-deb12/install-packages.sh
  build-el8/install-packages.sh
  build-el9/install-packages.sh
  common/config-task.sh
  common/slurm.conf.j2
  gitlab-ci.d/container-tag.yml.j2
  tutorials/Admin Guide.ipynb
  tutorials/Multi-Cluster & Federation.ipynb
  tutorials/floating-partition.drawio
  tutorials/floating-partition.drawio.svg
  tutorials/floating-partition.png
  tutorials/multi-cluster-and-federation.drawio
  tutorials/multi-cluster-and-federation.drawio.svg
  tutorials/multi-cluster-and-federation.png
  tutorials/playbooks/matrix-user-create.yaml
  tutorials/playbooks/matrix-user-delete.yaml
  tutorials/playbooks/use-munge-auth.yaml
  tutorials/playbooks/use-slurm-auth.yaml
Due: rocky-image-build, debian-image-build

entrypoint script small change
  README.md
  build-deb12/Containerfile
  build-el8/Containerfile
  build-el9/Containerfile
  build-local.sh
  common/config-task.sh
  common/entrypoint.sh
  compose.yml
Due: rocky-image-build, debian-image-build

Use slurm.jwks
  build-deb12/Containerfile
  build-el8/Containerfile
  build-el9/Containerfile
  common/config-task.sh
  common/entrypoint.sh
  tutorials/Admin Guide.ipynb
Due: rocky-image-build, debian-image-build

adding content about --batch-script and --env-vars option of sacct
  gitlab-ci.d/init.yml
  tutorials/Admin Guide.ipynb
Due: rocky-image-build, debian-image-build

add retry to all build job
  gitlab-ci.d/container-build.yml.j2
Due: none

update restapi guide, setting env var SLURM_GET_USER_ENV=1
  tutorials/REST API Guide.ipynb
Due: rocky-image-build, debian-image-build

Update 2024 sep * updated mpich * added deb11 build folder * modified jupyterhub config to accommodate python3.9 syntax limitation * resolved ansible-inventory issue on deb12
  README.md
  build-deb11/Containerfile
  build-deb11/build-slurm-deb.sh
  build-deb11/install-packages.sh
  build-local.sh
  common/01-nmap.yaml.j2
  common/jupyterhub_config.py
  compose.dev.yml
  compose.yml
  tutorials/Admin Guide.ipynb
  tutorials/floating-partition.drawio.svg
  tutorials/multi-cluster-and-federation.drawio.svg
Due: rocky-image-build, debian-image-build
